name: "CI Lighthouse Gist"

on:
  schedule:
    - cron: "0 7 * * *"
  workflow_dispatch:

jobs:
  perf:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Lighthouse CI
        id: lighthouse
        uses: ./
        with:
          urls: "https://www.cupraofficial.dk/carshop/w/model"
          gh-token: ${{ secrets.GH_TOKEN }}

      - name: Print results
        run: |
          echo "Mobile: ${{ steps.lighthouse.outputs.mobile-viewer-url }}"
          echo "Desktop: ${{ steps.lighthouse.outputs.desktop-viewer-url }}"
          echo "Average: ${{ steps.lighthouse.outputs.average-performance }}%"
